$naslov: white;
$pozadina-naslov: rgba(131, 0, 0, 0.884);
$active: rgb(146, 27, 27);
$black: black;
$nav-color: rgb(160, 175, 171);
$grey: rgb(218, 170, 170);
$aqua: aqua;
$footer: rgb(27, 24, 24);
$silver: silver;