<div class="container-fluid naslov">
    Hotel Euforia 
</div>

<app-navbar></app-navbar>


 <div class="container-fluid podnaslov">

  <p> Promena sifre </p>

 </div>


 <div class="container-fluid col-md-8 offset-md-2 mt-3">

 <form role="form" [formGroup]="changePasswordForm">

    <div class="alert alert-danger" style="display: none;"></div>

  <div class="form-group">
     <label for="sifra1">Trenutna sifra:</label>
     <input type="password" class="form-control" formControlName='sifra1'>
   </div>
    <div class="form-group">
     <label for="sifra2">Nova sifra:</label>
     <input type="password" class="form-control"  formControlName='sifra2'>
   </div>
  
   <button (click)="changePassword()" class="btn btn-primary">Potvrdi</button>
 </form>

</div>

<div class="container-fluid footer " style="margin-top:9rem;">
  <p>&copy; Copyright 2018&reg;</p>
 </div>