

<div class="container-fluid naslov">
    Hotel Euforia
  </div>

  <app-navbar></app-navbar>

 
    


      <div class="container-fluid podnaslov">

       <p> Nalazimo se na ovoj lokaciji</p>

      </div>





      <div class="container-fluid mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.5693913017217!2d20.45258671521125!3d44.8303364790986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6530da697d59%3A0xd2bdfbf9d4b80259!2sMetropolitan+University!5e0!3m2!1sen!2srs!4v1522802202774" class="map" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>



<!-- style="background-image: url(../assets/slike/patern.gif)"-->
<div class="container-fluid okvir2" >
<h2 class="n2">Možete nas kontaktirati na sledeće načine:</h2>


<div class="row">
        <div class="col-md-6 item a">
            <div class="item-wrapper logo lo">
                <h4 >Telefon:</h4>
                <h5 >011/123-456</h5>

                
            </div>
        </div>
        <div class="col-md-6 item a">
            <div class="item-wrapper logo lo" >
                <h4 >Email:</h4>
                <h5 >methotel@gmail.com</h5>
            
            </div>
        </div>
    </div>

</div>




<div class="container-fluid footer">
<p>&copy; Copyright 2018&reg;</p>
</div>