
<div class="container-fluid naslov">
        Hotel Euforia
  </div>

  <app-navbar></app-navbar>
 

      <div class="container-fluid podnaslov">

       <p> Sobe koje imamo u našoj ponudi</p>

      </div>





      <div class="container">
            <div class="row">
                <div class="col-md-4 item">
                    <div class="item-wrapper">
                        <h2 class="title">Dvokrevetna soba</h2>
                        <img class="img-fluid" src="../assets/slike/soba1.jpg" />
                        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, iure! Voluptatum doloribus ad tenetur recusandae repellendus exercitationem consectetur? Fugiat autem sapiente, distinctio praesentium voluptates illum recusandae maxime expedita quaerat tempora!</p>
                        <p class="price">Cena za noć: <i class="fa fa-dollar"></i>300.00</p>
                        <a href="#" class="btn btn-primary dugme">Rezerviši</a>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="item-wrapper">
                        <h2 class="title">Jednokrevetna soba</h2>
                        <img class="img-fluid" src="../assets/slike/soba2.jpg" />
                        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, iure! Voluptatum doloribus ad tenetur recusandae repellendus exercitationem consectetur? Fugiat autem sapiente, distinctio praesentium voluptates illum recusandae maxime expedita quaerat tempora!</p>
                        <p class="price">Cena za noć: <i class="fa fa-dollar"></i>200.00</p>
                        <a href="#" class="btn btn-primary dugme">Rezerviši</a>
                    </div>
                </div>
                <div class="col-md-4 item">
                    <div class="item-wrapper">
                        <h2 class="title">Jednokrevetna soba</h2>
                        <img class="img-fluid" src="../assets/slike/soba3.jpg" />
                        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, iure! Voluptatum doloribus ad tenetur recusandae repellendus exercitationem consectetur? Fugiat autem sapiente, distinctio praesentium voluptates illum recusandae maxime expedita quaerat tempora!</p>
                        <p class="price">Cena za noć: <i class="fa fa-dollar"></i>150.00</p>
                        <a href="#" class="btn btn-primary dugme">Rezerviši</a>
                    </div>
                </div>
            </div>
        </div>

<div class="container-fluid okvir1" id="ok1">
<h1 class="n2">Lorem ipsum</h1> 
<p class="tekst">  Lorem ipsum dolor sit amet, consectetur adipiscing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 
officia deserunt mollit anim id est laborum</p>

<p id="poruka">Gost u centru pažnje</p>
</div>


<div class="container-fluid okvir2" style="background-image: url(../assets/slike/patern.gif)">
<h2 class="n2">Možete nas pratiti putem</h2>


<div class="row">
        <div class="col-md-6 item">
            <div class="item-wrapper logo">
                <h4 class="title">Facebook</h4>
                <img class="img-fluid" src="../assets/slike/facebook.png" />

                
            </div>
        </div>
        <div class="col-md-6 item">
            <div class="item-wrapper logo" >
                <h4 class="title">Twitter</h4>
                <img class="img-fluid" src="../assets/slike/twiter.png" />
            
            </div>
        </div>
    </div>

</div>




<div class="container-fluid footer">
<p>&copy; Copyright 2018&reg;</p>
</div>
